@mixin outline ($color:red) {
  box-shadow: inset  0 0 0 2px $color;
}

@mixin font-OS-bold ($size, $height) {
  font-size: $size;
  line-height: $height;
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

@mixin mobile-side-paddings ($side-paddings:30px) {
  padding-right: $side-paddings;
  padding-left: $side-paddings;
}

@mixin tablet-side-paddings ($side-paddings:50px) {
  padding-right: $side-paddings;
  padding-left: $side-paddings;
}

@mixin ul-reset () {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin container () {
  width: 320px;
  margin: 0 auto;

  @media ($tablet-widths) {
    width: 768px;
  }

  @media ($desktop-widths) {
    width: 1150px;
  }
}
