@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 13px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

@media ($tablet-widths) {
  h2 {
    font-size: 43px;
    line-height: 50px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media ($desktop-widths) {
  h2 {
    font-size: 53px;
    line-height: 57px;
  }
}
