.catalog-item {
  margin-bottom: 30px;
  border: 1px solid #ededed;

  &__description {
    padding-right: 28px;
    padding-left: 28px;
  }

  &__title {
    text-decoration: none;
    color: #000000;
  }

  &__attributes {
    margin-top: -10px;
    margin-bottom: 17px;
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 28px;

    border-top: 1px solid #ececec;
  }

  &__price {
    @include font-OS-bold(15px, 24px);
  }

  &__cart {
    display: block;
    width: 21px;
    height: 21px;

    font-size: 0;

    background: url("../../img/icon-cart.svg") no-repeat 50%;
    opacity: 0.2;
  }
}
