.contacts {
  position: relative;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;

    width: 100%;
    height: 5px;

    background: url("../img/bg-zigzag-line.svg") repeat;
    background-size: contain;

    content: "";
  }
}
.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 35px;
  @include mobile-side-paddings;
}

.contacts__title {
  margin-bottom: 25px;

  @include font-OS-bold(18px, 30px);
}

.contacts__table-of-contacts {
  width: 100%;
  margin-bottom: 10px;

  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: #444444;
}

.contacts__table-of-contacts td {
  vertical-align: top;
  padding-bottom: 30px;
}

.contacts__table-of-contacts td:first-of-type {
  width: 80px;
}


.contacts__email {
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 5px;

  color: #444444;

  text-decoration: none;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 455px;

  margin-bottom: 40px;

  text-align: center;

  &::after {
    position: absolute;
    top: 45%;
    left: 55%;

    width: 67px;
    height: 100px;

    transform: translate(-50%, -50%);

    background: url("../img/icon-map-pin.svg") no-repeat;

    content: "";
 }
}

.contacts__write-us {
  margin: 0 auto;
  margin-bottom: 40px;
}

@media ($tablet-widths) {
  .contacts {
    &::before {
      top: 70px;

      height: 15px;

      background: url("../img/bg-zigzag-line.svg") repeat;
      background-size: contain;
    }
  }

  .contacts__wrapper {
    position: relative;
    width: 668px;
    padding-top: 110px;
    @include tablet-side-paddings

    &::after {
      position: absolute;
      top: 130px;
      right: 50px;

      width: 47px;
      height: 81px;

      background: url("../img/icon-flag.svg") no-repeat;

      content: "";
    }
  }

  .contacts__title {
    margin-bottom: 50px;

    @include font-OS-bold(43px, 50px);
  }

  .contacts__table-of-contacts {
    display: table;
    width: auto;
    margin-bottom: 25px;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__table-of-contacts tr {
    display: table-cell;
    width: 334px;

    vertical-align: top;
  }

  .contacts__map {
    margin-bottom: 60px;

    &::after {
        left: 53%;
    }
  }
  .contacts__write-us {
    width: 226px;
    margin: 0 auto;
  }
}

@media ($desktop-widths) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;

    height: 620px;

    &::before {
      top: 70px;

      height: 23px;

      background: url("../img/bg-zigzag-line.svg") repeat;
      background-size: contain;
    }
  }
  .contacts__wrapper {
    order: 1;

    width: 475px;
    padding-top: 190px;
    &::after {
      top: 225px;
      left: 115px;
    }
  }

  .contacts__title {
    margin-bottom: 15px;
    margin-left: 175px;

    @include font-OS-bold(53px, 57px);
  }

  .contacts__table-of-contacts {
    margin-top: 45px;
    margin-bottom: 20px;
    margin-left: 175px;
  }

  .contacts__table-of-contacts tr {
    display: table-row;
  }

  .contacts__map {
    order: 3;

    width: 525px;
    margin-top: 165px;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .contacts__write-us {
    order: 2;

    width: 228px;
    margin-bottom: 0;
    margin-left: 225px;
  }
}
