.contacts {
  width: 260px;
  padding-top: 35px;
  @include mobile-side-paddings;

  &__title {
    margin-bottom: 25px;
    @include font-OS-bold(18px, 30px);
  }

  &__table-of-contacts {
    width: 100%;
    margin-bottom: 10px;

    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: #444444;

    & td {
      vertical-align: top;
      padding-bottom: 30px;
    }

    & td:first-of-type {
      width: 80px;
    }
  }

  &__email {
    border-bottom: 1px solid #62d1ba;
    padding-bottom: 5px;
  }

  &__map {
    position: relative;

    margin-left: -30px;
    margin-bottom: 30px;

    &::after {
      position: absolute;
      top: 45%;
      left: 55%;

      width: 67px;
      height: 100px;

      transform: translate(-50%, -50%);

      background: url("../img/icon-map-pin.svg") no-repeat;

      content: "";
    }
  }

  &__write-us {
    margin-bottom: 35px;
  }
}
