.features {
  width: 260px;
  margin: 0 auto;
  padding-top: 15px;
  @include mobile-side-paddings;
}

.features__list {
  @include ul-reset;
}

.features__list-item {
  position: relative;

  min-height: 35px;
  margin-bottom: 18px;
  padding-top: 65px;

  @include font-OS-bold(17px, 20px);

  &::before {
    position: absolute;
    top: 7px;
    left: -5px;

    width: 55px;
    height: 40px;

    content: "";
  }
}

.features__list-item--eco::before {
  background: url("../img/icons-external/icon-feature-1.svg") no-repeat 50%;
}

.features__list-item--price::before {
  background: url("../img/icons-external/icon-feature-3.svg") no-repeat 50%;
}

.features__list-item--likes::before {
  background: url("../img/icons-external/icon-feature-5.svg") no-repeat 50%;
}

.features__list-item--with-love::before {
  background: url("../img/icons-external/icon-feature-2.svg") no-repeat 50%;
}

.features__list-item--support::before {
  background: url("../img/icons-external/icon-feature-4.svg") no-repeat 50%;
}

.features__list-item--delivery::before {
  background: url("../img/icons-external/icon-feature-6.svg") no-repeat 50%;
}


@media ($tablet-widths) {
  .features {
    width: 668px;
    padding-top: 45px;
    @include tablet-side-paddings;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__list-item {
    width: 334px;
    margin-bottom: 45px;

    @include font-OS-bold(20px, 24px)

    &--eco {
      order: 1;
    }

    &--price {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--with-love {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--delivery {
      order: 6;
    }
  }
}

@media ($desktop-widths) {
  .features {
    width: 1050px;
    padding-top: 78px;
    @include tablet-side-paddings;
  }

  .features__title {
    margin-left: 175px;
  }

  .features__list {
    margin-left: 175px;
  }

  .features__list-item {
    width: 350px;
    margin-bottom: 45px;
    padding-top: 60px;
  }
}
