.features {
  width: 260px;
  padding-top: 15px;
  @include mobile-side-paddings;

  // &__title {}

  &__list {
    @include ul-reset;
  }

  &__list-item {
    position: relative;

    min-height: 35px;
    margin-bottom: 18px;
    padding-top: 65px;

    @include font-OS-bold(17px, 20px);

    // border: 1px solid black;

    &::before {
      position: absolute;
      top: 7px;
      left: -5px;

      width: 55px;
      height: 40px;

      content: "";
    }
  }

  &__list-item--eco::before {
    background: url("../img/icon-feature-1.svg") no-repeat 50%;
  }

  &__list-item--price::before {
    background: url("../img/icon-feature-3.svg") no-repeat 50%;
  }

  &__list-item--likes::before {
    background: url("../img/icon-feature-5.svg") no-repeat 50%;
  }

  &__list-item--with-love::before {
    background: url("../img/icon-feature-2.svg") no-repeat 50%;
  }

  &__list-item--support::before {
    background: url("../img/icon-feature-4.svg") no-repeat 50%;
  }

  &__list-item--delivery::before {
    background: url("../img/icon-feature-6.svg") no-repeat 50%;
  }

}
