.footer-main {
  background-color: #f1f1f1;
}

.footer-main__wrapper {
  min-width: 260px;
  margin: 0 auto;
  @include mobile-side-paddings;
}

.footer-main__logo svg {
  &:hover {
    fill: black;
  }
}

.footer-main__logo {

  &[href]:hover svg{
    fill: #63d1bb;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &--hidden {
    display: none;
  }
}

.footer-main__social {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  width: 180px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e5e5e5;
}

.footer-main__copy-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 185px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;

  @include font-OS-bold(19px, 18px)
  text-decoration: none;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.footer-main__copy-right img {

  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

@media ($tablet-widths) {
  .footer-main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 668px;
    min-height: 95px;
    margin-top: 55px;
    padding-top: 50px;
    @include tablet-side-paddings;
  }

  .footer-main__logo {
    display: block;
    width: 185px;
  }

  .footer-main__social {
    padding: 0;
    padding-top: 5px;
    width: 180px;
    margin: 0;

    border: none;
  }

  .footer-main__copy-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 184px;
    margin: 0;
    padding:0;
    padding-top: 8px;

    @include font-OS-bold(19px, 24px)
    text-decoration: none;
    color: #000000;
  }
}

@media ($desktop-widths) {
  .footer-main__wrapper {

    width: 1050px;
    margin-top: 105px;
    padding-top: 50px;
  }

  .footer-main__logo {
    margin: 0;
  }

  .footer-main__copy-right {
    @include font-OS-bold(19px, 28px)
  }
}
