.footer-main {
  width: 260px;
  @include mobile-side-paddings;

  background-color: #f1f1f1;
}

.footer-main__logo {

  filter: grayscale(1);
  filter: brightness(0);

  &[href]:hover {
    filter: grayscale(0);
  }

  &[href]:active {
    filter: grayscale(0);
    opacity: 0.3;
  }

  &--hidden {
    display: none;
  }
}

.footer-main__social {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

.footer-main__copy-right {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;

  @include font-OS-bold(19px, 18px)
  text-decoration: none;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.footer-main__copy-right img {

  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

@media ($tablet-widths) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 668px;
    min-height: 95px;
    margin-top: 55px;
    padding-top: 50px;
    @include tablet-side-paddings;
  }

  .footer-main__logo {
    display: block;
    width: 185px; //удалить и заменить на другой логотип
    height: 34px;
  }

  .footer-main__social {
    padding: 0;
    padding-top: 8px;
    width: 180px;

    border: none;
  }

  .footer-main__copy-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 184px;
    padding:0;
    padding-top: 10px;

    @include font-OS-bold(19px, 18px)
    text-decoration: none;
    color: #000000;
  }
}

@media ($desktop-widths) {
  .footer-main {

    width: 1050px;
    min-height: 95px;
    margin-top: 105px;
    padding-top: 50px;
  }
}
