.footer-main {
  width: 260px;
  @include mobile-side-paddings;

  background-color: #f1f1f1;

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;

    border-bottom: 1px solid #e5e5e5;
  }

  &__copy-right {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;

    @include font-OS-bold(19px, 18px)
    text-decoration: none;
    color: #000000;
  }
}
