.order-form {
  @include mobile-side-paddings;

  &__annotation {
    margin-top: -7px;
    margin-bottom: 23px;
    line-height: 24px;
  }

  &__fieldset {
    padding: 0;
    padding-top: 30px;

    border-right: none;
    border-bottom: none;
    border-left: none;
    border-color: #63d1bb;
    margin-bottom: 20px
  }

  &__legend {
    min-width: 40px;
    margin-left: -3px;
    padding-right: 20px;

    @include font-OS-bold(17px, 16px);
    text-transform: uppercase;
    color: #63d1bb;
  }

  &__type-list {
    @include ul-reset;
  }

  &__list-item {
    position: relative;
    height: 40px;
    padding-top: 6px;
    padding-left: 60px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__type {
    display: none;
  }

  &__type-label::before {
    position: absolute;
    top: -5px;
    left: -3px;

    width: 36px;
    height: 36px;

    border: 2px solid #000000;
    border-radius: 50%;

    content: "";
  }

  &__type-label::after {
    position: absolute;
    top: 7px;
    left: 9px;

    width: 16px;
    height: 16px;

    border-radius: 50%;

    content: "";
  }

  &__type:checked + &__type-label::after {
    background-color: #63d1bb;
  }

  &__color-list {
    @include ul-reset;
  }

  &__color {
    display: none;
  }

  &__color-label::before {
    position: absolute;
    top: -5px;
    left: -3px;

    width: 36px;
    height: 36px;

    border: 2px solid #000000;

    content: "";
  }

  &__color-label::after {
    position: absolute;
    top: 0;
    left: 7px;

    width: 24px;
    height: 24px;

    content: "";
  }

  &__color:checked + &__color-label::after {
    background: url("../img/icon-tick.svg") no-repeat 50%;
  }

  &__client {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 17px;
    line-height: 18px;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #000000;
    outline: none;
  }

  &__client-label {
    padding-top: 5px;
  }

  &__tel {
    display: block;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 17px;
    line-height: 18px;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #000000;
    outline: none;
  }

  &__tel-icon {
    position: relative;
  }

  &__tel-icon::after {
    position: absolute;
    top: 40%;
    right: 5px;

    width: 25px;
    height: 25px;

    transform: translateY(-50%);

    background: url("../img/icon-phone.svg") no-repeat 50%;
    opacity: 0.2;

    content: "";
  }

  &__email {
    display: block;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 17px;
    line-height: 18px;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #000000;
    outline: none;
  }

  &__email-icon {
    position: relative;
  }

  &__email-icon::after {
    position: absolute;
    top: 50%;
    right: 0;

    width: 32px;
    height: 21px;

    transform: translateY(-50%);

    background: url("../img/icon-mail.svg") no-repeat 50%;
    opacity: 0.2;

    content: "";
  }

  &__commentary {

    box-sizing: border-box;
    width: 100%;
    min-height: 140px;
    padding: 12px;

    font-size: 17px;
    line-height: 18px;

    border: 2px solid #000000;
    outline: none;

    resize: none;
  }

  &__warning {
    margin-right: -7px;
    margin-top: -20px;

    font-size: 14px;
  }

  &__btn {
    width: 100%;
    margin-bottom: 55px;

    background-color: #ffffff;
  }
}

.order-form label {
  display: block;
  @include font-OS-bold(17px, 18px);
}
