@mixin main-menu-shadows {
  box-shadow:
    inset 0 1px 0 0 $border-color,
    0 1px 0 0 $border-color;

    @media ($tablet-widths) {
      box-shadow:
        0 1px 0 0 #ececec;
    }
}

.header-main {
  position: relative;
}

.header-main__nav-logo-container {
  width: 260px;
  padding-top: 22px;
  padding-bottom: 22px;
  @include mobile-side-paddings;

  @include main-menu-shadows;
}

.header-main__nav-toggle {
  position: absolute;
  top: 29px;
  right: 30px;

  width: 20px;
  height: 20px;

  font-size: 0;

  &--open {
    background: url("../img/icon-menu-open.svg") no-repeat 50%;
  }

  &--close {
    background: url("../img/icon-menu-close.svg") no-repeat;
  }
}

.header-main__nav-list {
  @include ul-reset;

  &--hidden {
    display: none;
  }
}

.header-main__nav-item {
  $nav-item-bottom-padding: 27px !global;

  width: 245px;
  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: $nav-item-bottom-padding;

  @include main-menu-shadows;

  &--hidden {
    display: none;
  }
}

.header-main__nav-link {
  position: relative;

  @include font-OS-bold(17px, 24px);
  text-decoration: none;
  color: #000000;

  &::before  {
    position: absolute;
    top: 50%;
    left: -45px;

    width: 20px;
    height: 20px;

    opacity: 0.2;
    transform: translateY(-50%);

    content: "";
  }

  &--search::before {
    background: url("../img/icon-search.svg") no-repeat 50%;
  }

  &--cart::before {
    background: url("../img/icon-cart.svg") no-repeat 50%;
  }
}

@media ($tablet-widths) {

  .header-main__nav-toggle {
    display: none;
  }

  .header-main__nav-list {
    position: relative;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding-left: 50px;

    &::after {
      position: absolute;
      right: 50px;
      bottom: $nav-item-bottom-padding;

      font-size: 15px;

      content: "Бесплатная доставка по России"
    }
  }

  .header-main__nav-logo-container {
    flex-grow: 1;

    width: auto;
    margin-left: -50px;
    padding-right: 80px;
    padding-left: 50px;
  }

  .header-main__nav-item {
    order: 3;

    width: 167px;
    padding-top: 15px;
    padding-left: 0px;

    box-shadow: none;

    &--search {
      order: 1;

      width: auto;
      padding-top: 27px;
      padding-right: 6px;
      padding-left: 74px;

      border-right:1px solid $border-color;
      border-left: 1px solid $border-color;

      @include main-menu-shadows
    }

    &--cart {
      order: 2;

      width: 235px;
      padding-top: 30px;
      padding-left: 80px;

      @include main-menu-shadows
    }
  }

  .header-main__nav-link {
    @include font-OS-bold(15px, 24px);

    &--search {
      font-size: 0;
    }

    &--cart {
      @include font-OS-bold(17px, 24px);
    }
  }
}

@media ($desktop-widths) {

  .header-main__nav-logo-container {
    order: 2;

    margin-left: 0;
    padding-top: 9px;
    padding-right: 0;
    padding-left: 60px;
  }

  .header-main__nav-item {
    order: 1;

    width: 185px;
    padding-top: 30px;
    padding-left: 35px;

      @include main-menu-shadows

    &:nth-child(2) {
      margin-left: -50px;
      padding-left: 50px;

      border-right:1px solid $border-color;
    }

    &--search {
      order: 3;

      width: auto;
      padding-top: 27px;
      padding-left: 74px;

      border-left: none;
    }

    &--cart {
      order: 4;
      width: 235px;
      padding-left: 80px;
    }

    &--hidden {
      order: 5;

      display: block;
      width: 220px;
      padding-top: 15px;
      padding-left: 0;

      box-shadow: none;
    }
  }

  .header-main__nav-item--hidden a {
    @include font-OS-bold(15px, 24px);
  }

  .header-main__nav-link {
    @include font-OS-bold(17px, 24px);

    &--search {
      font-size: 0;
    }
  }
}
