@mixin main-menu-shadows {
  box-shadow:
    inset 0 1px 0 0 $border-color,
    0 1px 0 0 $border-color;
}

.header-main {
  position: relative;
  min-width: 320px;

  z-index: 1;
}

.header-main__nav-logo-container {
  padding-top: 22px;
  padding-bottom: 12px;
  @include mobile-side-paddings;

  text-align: center;

  @include main-menu-shadows;
}

.header-main__logo {

  width: 85px;
  margin: 0 auto;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.header-main__nav-toggle {
  position: absolute;
  top: 29px;
  right: 30px;

  width: 20px;
  height: 20px;

  font-size: 0;

  &--open {
    background: url("../img/icons-external/icon-menu-open.svg") no-repeat 50%;
  }

  &--close {
    background: url("../img/icons-external/icon-menu-close.svg") no-repeat;
  }

  &--nojs {
    display: none;
  }
}

.header-main__nav-list {
  min-width: 320px;
  @include ul-reset;

  &--hidden {
    display: none;
  }
}

.header-main__nav-item {
  $nav-item-bottom-padding: 27px !global;

  padding-left: 75px;
  padding-top: 27px;
  padding-bottom: $nav-item-bottom-padding;

  @include main-menu-shadows;

  &--hidden {
    display: none;
  }
}

.header-main__nav-link {
  position: relative;

  display: block;
  width: 225px;
  margin: 0 auto;

  @include font-OS-bold(17px, 24px);
  text-decoration: none;
  color: #000000;

  &--search svg {
    margin-right: 20px;
    margin-left: -45px;
    padding-top: 3px;
  }

  &--cart svg {
    margin-right: 20px;
    margin-left: -45px;
    padding-top: 5px;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:hover > svg {
    fill: #63d1bb;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media ($tablet-widths) {

  .header-main__nav-toggle {
    display: none;
  }

  .header-main__nav-list {
    position: relative;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    box-sizing: border-box;
    width: 100%;
    padding-left: 50px;

    &::after {
      position: absolute;
      right: 50px;
      bottom: $nav-item-bottom-padding;

      font-size: 15px;

      content: "Бесплатная доставка по России"
    }
  }

  .header-main__nav-logo-container {

    flex-grow: 1;

    box-sizing: border-box;
    width: 100%;
    margin-left: -50px;
    padding-left: 50px;
    padding-bottom: 10px;

    text-align: left;
  }

  .header-main__logo {
    margin: 0;
  }

  .header-main__nav-item {
    order: 3;

    width: 167px;
    padding-top: 15px;
    padding-left: 0px;

    box-shadow: none;

    &--search {
      order: 1;

      width: 0;
      margin-left: -392px;
      padding-top: 35px;
      padding-right: 6px;
      padding-bottom: 0;
      padding-left: 74px;

      border-right:1px solid $border-color;
      border-left: 1px solid $border-color;

      @include main-menu-shadows
    }

    &--cart {
      order: 2;

      width: 230px;
      padding-top: 25px;
      padding-left: 80px;

      @include main-menu-shadows
    }
  }

  .header-main__nav-link {
    display: inline;

    @include font-OS-bold(15px, 24px);

    &--search {
      font-size: 0;
    }

    &--cart {
      display: flex;
      padding-top: 6px;
      @include font-OS-bold(17px, 24px);
    }

    &--cart svg {
      margin-top: -1px;
      margin-left: -50px;
      margin-right: 28px;
    }
  }
}

@media ($desktop-widths) {

  .header-main__nav-logo-container {
    order: 2;
    flex-grow: 1;

    margin-left: -455px;
    padding: 0;
    padding-top: 20px;

    text-align: center;
  }

  .header-main__logo {
    width: 148px;
    margin: 0 auto;
    margin-top: -15px;
  }

  .header-main__nav-item {
    order: 1;

    width: 185px;
    padding-top: 30px;
    padding-left: 35px;

    @include main-menu-shadows

    &:nth-child(2) {
      margin-left: -50px;
      padding-left: 50px;

      border-right:1px solid $border-color;
    }

    &--search {
      order: 3;

      width: 0;
      padding-top: 35px;
      padding-left: 74px;

      border-left: none;
    }

    &--cart {
      order: 4;
      width: 235px;
      padding-top: 25px;
      padding-left: 80px;
    }

    &--hidden {
      order: 5;

      display: block;
      width: 220px;
      padding-top: 15px;
      padding-left: 0;

      box-shadow: none;
    }
  }

  .header-main__nav-item--hidden a {
    @include font-OS-bold(15px, 24px);
  }

  .header-main__nav-link {
    @include font-OS-bold(17px, 24px);

    &--search {
      font-size: 0;
    }

    &--cart svg {
      margin-right: 30px;
    }
  }
}
