.item-video {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding-top: 7px;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 10px 10px 0px rgba(#000000, 0.1);
  }

  &:active {
    box-shadow: 0 6px 6px 0px rgba(#000000, 0.1);
  }
}

.item-video__title {
  position: relative;

  margin-left: 90px;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    top: 5px;
    left: -58px;

    width: 32px;
    height: 32px;

    background: url("../img/icons-external/icon-video.svg") no-repeat;

    content: "";
  }
}

.item-video__player {
  position: relative;
  margin-bottom: 15px;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 102px;
    height: 78px;

    transform: translate(-50%, -50%);

    background: url("../img/icons-external/icon-play.svg") no-repeat;

    content: "";
  }

  &:hover::after {
    width: 123px;
    height: 94px;

    background-size: cover;
  }

  &:active::after {
    opacity: 0.3;

    width: 82px;
    height: 63px;

    background-size: cover;
  }
}

.item-video__description {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 25px;

  line-height: 24px;
}

.item-video__btn {
  width: 190px;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media ($tablet-widths) {
  .item-video {
    display: flex;
    flex-direction: column;

    width: 668px;
    padding-top: 0;
  }

  .item-video__title {
    order: 2;

    margin-left: 105px;
    margin-bottom: 30px;

    &::before {
      top: -5px;
      left: -62px;
    }
  }

  .item-video__player {
    order: 1;

    width: 668px;
    height: 455px; //временно
    margin-bottom: 22px;
  }
  .item-video__description {
    order: 3;

    width: 584px;
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }
  .item-video__btn {
    order: 4;

    width: 584px;
    margin-bottom: 55px;
  }
}

@media ($desktop-widths) {
  .item-video {
    flex-wrap: wrap;
    align-content: flex-start;

    width: 1050px;
    height: 455px;
  }

  .item-video__title {
    width: 230px;
    margin-top: 95px;
    margin-left: 0px;
    margin-bottom: 35px;

    &::before {
      top: -52px;
      left: 3px;
    }
  }

  .item-video__player {
    width: 682px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .item-video__description {
    width: 230px;

    margin: 0;
    margin-bottom: 45px;
  }

  .item-video__btn {
    width: 230px;
  }
}
